.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


//Skill color variables
@skill-expert: #d9534f;
@skill-advanced: #f0ad4e;
@skill-intermediate: #5bc0de;
@skill-beginner: #5cb85c;

.skill(@name) {
  @color: "skill-@{name}";
  .skill-@{name} {
    background-color: @@color;
    color: white
  }
}

//Content item "Panel" variables
@panel-height: 210px;
@panel-header-height: 45px;


@inverse-color: #000;
@inverse-text-color: #fff - @inverse-color;

.inverse {
  background-color: @inverse-color;
  color: @inverse-text-color;
  a {
    color: @inverse-text-color;
  }
  button {
    color: @inverse-color;
  }
}

.break-content {
  width: 100%;
  > .row {
    min-height: 4em;
    .vertical-align {
      height: 100%;
    }
  }
  &.simple {
    > .row {
      min-height: 2em;
    }
  }
  &.well.well-darker {
    background-color: darken(@well-bg, 15%);
  }
  .h4 {
    font-size: @font-size-h4;
  }
  .smaller {
    font-size: @font-size-h5;
  }
}

//remove default styling from angular-xeditable
.editable-click, .editable-click:hover,
a.editable-click, .editable-empty, .editable-empty:hover{
  color: inherit;
  border-bottom: none;
  font-style: inherit;
}

.editable-empty, .editable-click {
  border: solid 1px transparent;
  &:hover {
    border: solid 1px lightgray;
  }
}

.emphasis {
  font-weight: bold;
}

.top-skills{
  h4 {
    font-weight:bold;
  }
  ul.skills-list {
    @media (min-width: @screen-md-min) {
      & {
        .content-columns(4, 10px);
      }
    }
    @media (max-width: @screen-sm-max) {
      & {
        .content-columns(3, 10px);
      }
    }
    @media (max-width: @screen-xs-max) {
      & {
        .content-columns(2, 15px);
      }
    }
    padding-top: 10px;
    .column-count(4);
    .column-gap(10px);
    li {
      .alpha-group {
        font-weight: bold;
      }
      a {
        color: black;
      }
    }
  }
}

.empty {
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  .center-block();
}

.editable-wrap {
  width: 100%;
  .editable-controls {
    width: 100%;
    .editable-input {
      width: 100%;
    }
  }
}
.btn-approve {
  color: @brand-success;
}
.main-content-container {
  //width: 95%;
  .user {
    background-color: darken(@gray-lighter, 10%);
    .skills {
      .paddinglr(15px);
      width: 100%;
      ul {
        padding-left: 2px;
      }
      .skill-addition-row {
        .addASkillContainer {
          :not(.control-group) {
            .form-control {
              width: 100%;
            }
          }
          .control-group {
            width: 100%;
            .form-control {
              select {
                width: 90%;
              }
            }
          }
        }
        .row {
          div {
            padding-right: 0;
            &:not(:first-child) {
              padding-left: 0;
            }
          }
        }
      }
      .skills-list {
        .skill(~"expert");
        .skill(~"advanced");
        .skill(~"intermediate");
        .skill(~"beginner");
        li {
          margin: 3px;
          padding: 3px 8px;
        }

      }
      .addSkill {
        .hover-icon {
          display: none;
        }
        &:hover:not(.editing) {
          .hover-icon {
            display: inline-block;
          }
        }
      }
    }

    .userheader {
      padding-bottom: 10px;
      h3 {
        margin-bottom: 5px;
      }
    }
    padding: 5px 0;
    min-height: 200px;
    .actions {
      .edit {
        //min-height: 200px;
        //height: 100%;
        position:relative;
        .pin-bottom {
          position: absolute;
          bottom: 0;
          //left: 40%;
        }
      }

    }
  }


  .display-component {
    //max-height: 100%;
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
    .edit-content {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .content-container {
    //.row > div {
    //  height: 100%;
    //}
    .content-container-item {
      .paddinglr(0);
    }
    content-item {
      min-height: 100%;
      position: relative;
    }
    .content-panel {
      height: 100%;
      border: 1px solid darkgray;
      min-height: @panel-height;
      .panel-head {
        width: 100%;
        height: @panel-header-height;
        .paddingtb(5px, 2px);
        font-weight: bold;
        font-size: @font-size-h4;
        //min-height: 30px;
        .center-block();
        .subhead {
          margin-top: -5px;
          font-weight: normal;
          font-size: @font-size-h6;
        }
      }
      .editing {
        .panel-head {

        }
      }
      .body {
        height: @panel-height - @panel-header-height;
        width: 100%;
        .editable-wrap {
          width: 100%;

          //override inputs to make stretch entire width and buttons below instead of next to input
          .editable-controls {
            display: block;
            padding-right: 5px;
            margin-left: 3px;
            margin-right: 3px;
            input, textarea {
              width: 100%;
              display: block;
            }
            .editable-buttons {
              padding-top: 3px;
              .pull-left();
              button[type="button"] {
                display: none;
              }
            }
          }
        }

      }
    }
  }

}
