@import "mixins.less";
//@import "

.skills{
  h4 {
    font-weight:bold;
  }
  ul.skills-list {
    @media (min-width: @screen-md-min) {
      & {
        .content-columns(4, 10px);
      }
    }
    @media (max-width: @screen-sm-max) {
      & {
        .content-columns(3, 10px);
      }
    }
    @media (max-width: @screen-xs-max) {
      & {
        .content-columns(2, 10px);
      }
    }
    padding-top: 10px;
    .column-count(4);
    .column-gap(10px);
    li {
      .alpha-group {
        font-weight: bold;
      }
      a {
        color: black;
      }
    }
  }
}

//@media (min-width: @screen-md-min) {
//  ul.skills-list {
//    .content-columns(3, 10px);
//  }
//}

.connected-wells {
  margin-top:0;
  margin-bottom: 0;
  .well {
    margin-bottom: 0;
    &.join {
      background-color: black;
      color: white;
      .subtle {
        color: lightgray;
      }
    }

  }
}

.about-toptal {
  .group {
    margin-left: 5px;
    margin-right: 5px;
    a {
      color: black;
    }
    line-height: @line-height-base + 0.4
  }
  .all-bold {
    li {
      font-weight: bold;
    }
  }
  .topic {
    margin-bottom: 5px;
    font-weight: bold
  }
}
