.skills{
  font-weight:bold;
}

.connected-wells {
  margin-top:0;
  margin-bottom: 0;
  .well {
    margin-bottom: 0;
    &.join {
      background-color: black;
      color: white;
      .subtle {
        color: lightgray;
      }
    }

  }
}

.about-toptal {
  .group {
    margin-left: 5px;
    margin-right: 5px;
    a {
      color: black;
    }
    line-height: @line-height-base + 0.4
  }
  .all-bold {
    li {
      font-weight: bold;
    }
  }
  .topic {
    margin-bottom: 5px;
    font-weight: bold
  }
}
