.column-count(@count) {
  -webkit-column-count: @count;
  -moz-column-count: @count;
  column-count: @count;
}

.column-gap(@gap) {
  -webkit-column-gap: @gap;
  -moz-column-gap: @gap;
  column-gap: @gap;
}

.paddinglr(@l, @r: @l) {
  padding-left: @l;
  padding-right: @r;
}
.paddingtb(@t, @b: @t) {
  padding-top: @t;
  padding-bottom: @b;
}

