//
   Created by jamieradonich on 2/2/16.
div.row.content-item(ng-class="{editing: isEditing}")
  div.col-md-12.text-center.panel-head(ng-show="!model.url") {{layout.name}}
    div.col-md-12.text-center.subhead(ng-show="showsub").text-
      em {{layout.getSubHeading()}}
  div.col-md-12.text-center.vertical-align.body
    div.tpl-include(ng-include="template")
