//
   Created by jamieradonich on 2/2/16.
div.content-item(ng-class="{editing: isEditing}")
  div.panel-head.text-center(ng-show="!model.url") {{model.name}}
  div.body.vertical-align.text-center
    div(ng-include="template")
  img(ng-show="model.url" ng-src="{{model.url}}")
