h4.skills.text-center Top skills on toptal




div.about-toptal.well
  div.row
    div.col-md-5.group
      div.topic About toptal
      div TopTal connects start-ups, businesses, and organizations to a growing network of the best developers in the
        |world.Our engineers are available full- or part-time and are able to seamlessly integrate into your team.
    div.col-md-3.group
      div.topic FAQ
      ul.list-unstyled
        each val in ['How can I join toptal?', 'What requirements I have to meet', 'How do you pay me?']
          li.text-capitalize
            a(href='http://toptal.com/' + val.split(' ')[0] + '.html')=val
    div.col-md-1.group
      ul.list-unstyled.all-bold
        each val in ['what', 'why', 'how', 'clients', 'team', 'lab']
          li.text-capitalize
            a(href='http://toptal.com/' + val + '.html')=val
    div.col-md-2.group
      div.topic Contact
      ul.list-unstyled
        each val in ['Join Us', 'Send us an e-mail', 'Follow us on twitter', 'Call 888.323.4422']
          li.text-capitalize=val
