// Created by jamieradonich on 2/1/16.
nav.navbar.navbar-inverse.header.inverse
  div.container
    div.row
      div.col-xs-12.col-md-6.statement
        img(src='assets/images/toptal-icon-only.png')
        span toptal &nbsp;
          em.statement-text Exclusive access to top developers

      div.col-xs-12.col-md-6.join.text-right
        ul.list-inline
          li Join Toptal as
          li
            button.btn.btn-default.btn-sm Developer
          li
            button.btn.btn-default.btn-sm Company
          li
            button.btn.btn-primary.btn-sm Login
    div.row
      div.col-md-6
        ul.list-inline
          each val in ['what', 'why', 'how', 'clients', 'team', 'labs', 'faq', 'contact']
            li
              a(href='http://toptal.com/' + val + '.html')=val

      div.col-md-6.text-right
        span.text-right Call us: 888.323.4422
