//
   Created by jamieradonich on 2/1/16.
div.row.user
  div.col-md-3.col-sm-4.col-xs-12.vertical-align.text-center
    div.row
      div.display-component(data-ng-show="user.image" data-ng-click="editImage()")
        img.user-img.img-fluid(data-ng-show="user.image" data-ng-src="{{user.image}}" alt="")
      div(data-ng-show="!user.image")
        button.btn.btn-default.load-user-image(data-ngf-select="loadImageFile($files, $invalidFiles)" data-ngf-no-object-url="true"
          single data-accept="image/*" data-ngf-max-height="1000" data-ngf-max-size="1MB") Add Profile Image...

  div.col-md-6.col-sm-8.col-xs-12
    div.row
      div.col-md-12
          h3(class="user-name" data-editable-text="user.name" buttons="no") {{ user.name || "Add name" }}
    div.row
      div.col-md-12
        div(data-location="user.location" data-e-placeholder="Add Location")
    div.row
      div.col-md-12
        div(data-editable-text="user.languages" buttons="no" e-placeholder="Add Languages...") {{ user.languages || "Add languages" }}

    div.skills.row
      ul.list-inline.skills-list
        li(ng-repeat="skill in user.skills" ng-class="skill.skillClass" ng-click="editSkill(skill)")
          span {{skill.skillName}} &nbsp;
          button.close(type="button" aria-label="Close" ng-click="removeSkill($index)")
            span(aria-hidden="true") &times;
      div.skill-addition-row
        button.btn-default.btn.addSkill(type="button" ng-click="addSkill()" ng-show="!isAddingSkill") Add Skill &nbsp;
          span.hover-icon.glyphicon.glyphicon-plus-sign(aria-hidden="true")
        div.addASkillContainer(ng-show="isAddingSkill")
          form.skill-form.form-inline
            div.row
              div.col-md-7.col-xs-5
                input.input-sm.form-control(type="text" name="skillName" placeholder="Add Skill" ng-model="skillCurrentlyBeingAdded.skillName")
              div.col-md-4.col-xs-5
                div.control-group
                  select.input-sm.form-control(ng-model="skillCurrentlyBeingAdded.skillLevel" name="skillLevel")
                    option(value="Expert") Expert
                    option(value="Advanced") Advanced
                    option(value="Intermediate") Intermediate
                    option(value="Beginner") Beginner
              div.col-md-1.col-xs-1
                button.btn.btn-link.btn-sm.btn-approve(ng-click="addCurrentSkill(skillCurrentlyBeingAdded)")
                  span.glyphicon.glyphicon-ok-sign

  div.col-md-3.actions.col-xs-12.edit
    //div.view(ng-show={{isView}})
    div.row
      div.col-md-6.col-xs-6
        button.btn.btn-block.btn-primary(ng-click="updateProfile()", data-ng-disabled="hasChanged()") Save Profile
      div.col-md-6.col-xs-6
        button.btn.btn-block.btn-default(data-ng-disabled="!isProfileComplete()") Publish Profile
    div.row
      div.col-md-12.text-muted
        span.text-center (You can only publish a completed profile)

    div.row(ng-show="!hasResume()")
      div.col-md-12.pin-bottom.visible-md.visible-lg.text-center
        button.btn.btn-primary(data-ngf-select="upload('resume', $files, $invalidFiles)" data-ngf-no-object-url="true"
          single
          data-ngf-accept="'application/pdf, text/plain, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
          data-ngf-max-height="1000" data-ngf-max-size="1MB")
          span.glyphicon.glyphicon-open
          span  Upload Resume
      div.col-xs-12.visible-xs.visible-sm.text-center
        button.btn.btn-primary(data-ngf-select="upload('resume', $files, $invalidFiles)" data-ngf-no-object-url="true"
          single
          data-ngf-accept="'application/pdf, text/plain, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
          data-ngf-max-height="1000" data-ngf-max-size="1MB")
          span.glyphicon.glyphicon-open
          span  Upload Resume
    div.row(ng-show="user.resume")
      div.col-xs-12
        div.row(ng-repeat="resume in user.resume")
          div.col-xs-12
            a.btn.btn-link(ng-click="openFile(resume)") {{resume.name}}
            button.btn-sm.btn(ng-click="user.resume.splice($index, 1)" title="Remove")
              span.glyphicon.glyphicon-remove-circle






//
//p User Controller User:
//pre {{user | json}}
