//
   Created by jamieradonich on 2/5/16.
div(buttons="no" editable-text="model.data" e-placeholder="{{model.defaultContent || 'Add ' + (model.name | lowercase) + '...'}}"
  onshow="onContentElementShow()" onhide="bodyClick(true)") {{ model.data || "Add Content..."}}
